<body>
    <h4>@Model.GetName()'s Clients:</h4>
    @{
      if (@Model.GetClients() != null)
      {
        @foreach (var client in @Model.GetClients())
       {
         <p>@client.GetName()</p>
         <a href="/client/@client.GetId()/edit">Edit</a>
         <form action="/client/@client.GetId()/delete" method="post">
           <input type="hidden" name="_method" value="DELETE">
           <button type="submit">Remove</button>
         </form>
       }
      }
    }
    <h4>Add a new client</h4>
    <form method="post" action="/stylist/@Model.GetId()/addClient">
      Client name:
      <input type="text" name="client-name">
      <button type="submit">Add</button>
    </form>
    <p><a href = "/">Return home</a></p>
